@import '@/styles/_variables.scss';

.HomeAbout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1160px;
  margin: 140px auto;
}
.aboutTextWrapper {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.textHeader {
  position: relative;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  margin: 0;
  &::after {
    content: '';
    position: absolute;
    width: 102px;
    height: 4px;
    border-radius: 8px;
    background-color: $main-yellow;
    bottom: -8px;
    left: 0;
  }
}
.longText {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: $main-grey;
}
.imageWrapper {
  width: 280px;
  height: 330px;
  img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    -webkit-box-shadow: 7px 17px 34px 0px rgba(96, 96, 96, 1);
    -moz-box-shadow: 7px 17px 34px 0px rgba(96, 96, 96, 1);
    box-shadow: 7px 17px 34px 0px rgba(96, 96, 96, 1);
  }
}
